html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------ */

div, p, li {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: auto 10px;
}

header {
    padding-bottom: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 100px;
}

.title {
    width: calc(100% - 300px);
    min-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.photo {
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: flex-end;
}

.photo img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 50%;
    padding: 5px 5px 0px 0px;
}

nav {
    padding-top: 10px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
}

nav ul li {
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.9);
    font-weight: 600;
    color: #fff;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:hover {
    cursor: pointer;
    background-color: rgb(70 70 70);;
}

.side-menu a:hover {
    color: rgb(70 70 70);;
}

nav ul li p {
    text-align: center;
}

/* ----- CONTENT ------ */

.side-menu a {
    color: #000;
    font-weight: 500;
}

#lab2, #lab3, #lab4, #lab5, #lab6, #lab7, #lab8, #lab9 {
    display: none;
}

.content-block {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content-block .side-menu {
    width: 30%;
    border: 2px solid #9e9e9e;
}

.content-block .content {
    width: 70%;
    border-top: 2px solid #9e9e9e;
    border-right: 2px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
    padding: 0px 20px;
    overflow-y: scroll;
}

.side-menu p, .side-men li {
    line-height: 25px;
}

.content-block .content p {
    padding-bottom: 10px;
}

.content-block .content li {
    margin-bottom: 10px;
}

.content-block .content ul {
    list-style: inside;
}

.content > div {
    padding-bottom: 40px;
}

pre code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: #eee;
    display: block;
    padding: 20px;
    word-break: break-all;
    white-space: break-spaces;
}

pre code span {
    color: rgb(112, 112, 112);
}

.side-menu ul li {
    margin: 15px 10px;
}

#html-source {
    width: 100%;
    height: 400px;
}

#html-source-big {
    width: 100%;
    height: 600px;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon {
    width: 40px;
}

.content ol {
	list-style: auto;
    padding: 15px 0px 0px 15px;
}

.img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
}

.content::-webkit-scrollbar {
    width: 1em;
}

.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

#all-tv-programs, #specific-tv-program {
    padding-top: 20px;
}

.requests table {
    width: 100%;
    border-collapse: collapse;
}

.requests table, th, td {
    border: 1px solid #eee;
}

.requests td {
    padding: 10px;
    width: 50%;
}

.request-block {
    display: flex;
    flex-direction: column;
}

.request-block form {
    padding: 20px 0px;
}

.server-btn {
    width: 150px;
    height: 30px;
    background-color: #eee;
    border: none;
}

.server-btn:hover {
    background-color: rgb(201, 201, 201);
}

#submit-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-labels, .form-inputs {
    display: flex;
    flex-direction: column;
}

.form-labels {
    width: 100px;
}

.form-labels > label {
    padding: 5px 0px;
}

.form-inputs {
    width: 200px;
}

.form-inputs > * {
    margin: 3px 0px;
}

/* ----- RESIZING ------ */

@media only screen and (max-width: 1020px) {

    nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}