* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.banner {   
    width: 50%;
}

.banner img {
    width: 100%;
}

.info {
    width: 50%;
    padding: 20px 20px 20px 50px
}

.price {
    padding: 10px 0px 20px 0px;
}

.price > p {
    display: inline-block;
    font-weight: bold;
}

.price .old {
    color: blue;
    text-decoration: line-through;
    vertical-align: top;
}

.price .new {
    color: red;
    font-size: 1.4em;
}

.adv-icon {
    width: 25px;
    margin-right: 10px;
}

.adv, .point {
    display: flex;
    align-items: center;

}

.info .fir {
    color: green;
}

.info .sec {
    color: orange;
}

.text {
    margin-top: 20px;
    max-width: 500px;
}

.btn {
    max-width: 500px;
    padding-top: 20px;
}

.btn button {
    color: #fff;
    background-color: red;
    border: none;
    width: 100%;
    height: 35px;
    font-weight: bold;
}

.svg-icon {
    color: #000;
    width: 50px;
    padding-right: 20px;
}

.benefits {
    padding: 20px 0px 0px 60px;
}

.point {
    padding-bottom: 20px;
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.course .image {
    height: 200px;
    width: 200px;
    background-color: royalblue;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.help, .contact, .partners, .safety {
    width: 250px;
}

.content {
    padding-top: 10px;
    font-size: 0.9em;
    color: rgb(87, 88, 90);
}

footer > div {
    margin-top: 10px;
}

.partners .content {
    vertical-align: top;
}

.partners img {
    width: 100px;
}

hr {
    border-color: rgb(201, 201, 201, 0.4);
}

.name {
    margin-bottom: 10px;
}