*, body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'The Nautigal', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
    margin: 0;
	padding: 0;
	border: 0;
    height: 100vh;
    width: 100vw;
    background-color: gainsboro;
}

p {
    margin: 0;
}


main {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-size: 2em;
    padding-top: 25px;
}

.content {
    width: 70%;
}

form {
    display: flex;
    flex-direction: row;
}

.labels, .selects {
    display: flex;
    flex-direction: column;
}